<nb-card [nbSpinner]="loading"
         nbSpinnerStatus="danger">
  <nb-card-header>
    <div class="col-sm-12">
      All Leads
    </div>
    <div class="col-sm-12">
      <div class="form-group"
           style="text-align: center">
        <label class="control-label">Selected Columns</label>
        <div *ngIf="allColumns">
          <nb-select multiple
                     status="success"
                     shape="rectangle"
                     fullWidth
                     placeholder="Select columns"
                     [selected]="allColumns"
                     (selectedChange)="updateColumns($event)">
            <nb-option value="{{column}}"
                       *ngFor="let column of allColumns">{{commonService.getDisplayName(column)}}</nb-option>
          </nb-select>
        </div>
      </div>
    </div>
  </nb-card-header>

  <nb-card-body *ngIf="leadData">
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (edit)="onEdit($event)"
                     (create)="onAdd($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
