# compiled output
/dist
/tmp
/out-tsc
/www

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
www/index.html
www/index.html
www/css/index.css
www/img/logo.png
www/js/index.js
www/index.html
www/js/index.js
www/**/*.*
platforms/android/app/src/main/assets/www/Roboto-Light.37fbbbad5577a95bdf05.woff
AngularApp/src/app/pages/charts/charts.module.ts
platforms/android/app/src/main/assets/www/10.7e52f10b06e4c830d0fb.js
platforms/android/app/src/main/assets/www/11.712376cd0a3b35bad257.js
platforms/android/app/src/main/assets/www/12.58d1cb71647ebc645c72.js
platforms/android/app/src/main/assets/www/13.c57540718e363b987778.css
platforms/android/app/src/main/assets/www/13.ea649dcd34a045f59b7d.js
platforms/android/app/src/main/assets/www/14.eac38a4b15e5e06d9fba.js
platforms/android/app/src/main/assets/www/15.3e735bedfc62b5869082.js
platforms/android/app/src/main/assets/www/16.39acbd2032de9f460676.js
platforms/android/app/src/main/assets/www/17.ececff64328887a11e27.js
platforms/android/app/src/main/assets/www/18.b883fb0df7ff71fb223c.js
platforms/android/app/src/main/assets/www/19.92e47c22132f428e5a2a.js
platforms/android/app/src/main/assets/www/2.27dc657b6a745feb00ee.js
platforms/android/app/src/main/assets/www/20.84bbadc44abebe2e08cb.js
platforms/android/app/src/main/assets/www/21.2b717ccb72025ff7e10e.js
platforms/android/app/src/main/assets/www/3.e6c3677a68922c809c39.js
platforms/android/app/src/main/assets/www/3rdpartylicenses.txt
platforms/android/app/src/main/assets/www/4.bf146d707073cdd96d55.js
platforms/android/app/src/main/assets/www/5.c99246d645624c375dc0.js
platforms/android/app/src/main/assets/www/6.24be1870e76d9fe00ff2.js
platforms/android/app/src/main/assets/www/Roboto-Black.2a82f89b0a35ee7f9d45.eot
platforms/android/app/src/main/assets/www/Roboto-Black.2b8d6922c2c9957356bc.woff2
platforms/android/app/src/main/assets/www/Roboto-Black.44236ad507eddcbfd986.ttf
platforms/android/app/src/main/assets/www/Roboto-Black.4c3b6229efe63a13dbb4.woff
platforms/android/app/src/main/assets/www/Roboto-Black.ab04c7611d94b690aee3.svg
platforms/android/app/src/main/assets/www/Roboto-BlackItalic.1f37c7545ae9f63d2279.svg
platforms/android/app/src/main/assets/www/Roboto-BlackItalic.38d14dd4ff163c34e45b.woff2
platforms/android/app/src/main/assets/www/Roboto-BlackItalic.3a99796b2d8592471fcf.woff
platforms/android/app/src/main/assets/www/Roboto-BlackItalic.4b7407c6740b8294d97a.eot
platforms/android/app/src/main/assets/www/Roboto-BlackItalic.ad0f284c7113fd0aaf39.ttf
platforms/android/app/src/main/assets/www/Roboto-Bold.56a76a220d9c9765946d.ttf
platforms/android/app/src/main/assets/www/Roboto-Bold.ab96cca26751239828b8.woff2
platforms/android/app/src/main/assets/www/Roboto-Bold.ad140ff02a7091257e2b.woff
platforms/android/app/src/main/assets/www/Roboto-Bold.c7f4667b59b9bc95130e.svg
platforms/android/app/src/main/assets/www/Roboto-Bold.c8bcb1cb78f9e45e2bcb.eot
platforms/android/app/src/main/assets/www/Roboto-BoldItalic.355e388740673054493c.woff2
platforms/android/app/src/main/assets/www/Roboto-BoldItalic.4b2cc52b05e2a960c4f1.eot
platforms/android/app/src/main/assets/www/Roboto-BoldItalic.a7dce23c0dd99a4afa5c.woff
platforms/android/app/src/main/assets/www/Roboto-BoldItalic.c2e0f75da3677f645034.svg
platforms/android/app/src/main/assets/www/Roboto-BoldItalic.d23d5bdadc495f12ef69.ttf
platforms/android/app/src/main/assets/www/Roboto-Light.054fa50baa6598a7bf0c.svg
platforms/android/app/src/main/assets/www/Roboto-Light.183079184d96a491f16e.eot
platforms/android/app/src/main/assets/www/Roboto-Light.8e0860f3581b197e9fa4.woff2
platforms/android/app/src/main/assets/www/Roboto-Light.a2b8c641546c0e5a95e2.ttf
platforms/android/app/src/main/assets/www/Roboto-LightItalic.056caeabe95749fe2b97.ttf
platforms/android/app/src/main/assets/www/Roboto-LightItalic.1a9e39e536aed26b863b.svg
platforms/android/app/src/main/assets/www/Roboto-LightItalic.879d940bccbb25f6096e.woff2
platforms/android/app/src/main/assets/www/Roboto-LightItalic.c7b4e746cf8ecbf412fc.woff
platforms/android/app/src/main/assets/www/Roboto-LightItalic.cdd1c486770034a6122e.eot
platforms/android/app/src/main/assets/www/Roboto-Medium.2741a14e49524efa6059.woff2
platforms/android/app/src/main/assets/www/Roboto-Medium.2b4f394ce87ea4e7a68b.svg
platforms/android/app/src/main/assets/www/Roboto-Medium.303ded6436dcf7ea7515.woff
platforms/android/app/src/main/assets/www/Roboto-Medium.76cad5ba6b8a38a77fe0.eot
platforms/android/app/src/main/assets/www/Roboto-Medium.c54f2a3ee42d2a58d82f.ttf
platforms/android/app/src/main/assets/www/Roboto-MediumItalic.7a49ce79b6089d4d37bf.eot
platforms/android/app/src/main/assets/www/Roboto-MediumItalic.da059a7386fea889c55c.woff
platforms/android/app/src/main/assets/www/Roboto-MediumItalic.eb65fb18d4446e4ac27d.svg
platforms/android/app/src/main/assets/www/Roboto-MediumItalic.f10d1f42838680a70ac2.woff2
platforms/android/app/src/main/assets/www/Roboto-MediumItalic.fa183350bf6b814ae552.ttf
platforms/android/app/src/main/assets/www/Roboto-Regular.081b11ebaca8ad30fd09.woff
platforms/android/app/src/main/assets/www/Roboto-Regular.6a561d68369fd1fb9768.eot
platforms/android/app/src/main/assets/www/Roboto-Regular.766c8926f6d9061fef24.svg
platforms/android/app/src/main/assets/www/Roboto-Regular.99b14f0da0591e0d7167.ttf
platforms/android/app/src/main/assets/www/Roboto-Regular.b2a6341ae7440130ec4b.woff2
platforms/android/app/src/main/assets/www/Roboto-RegularItalic.527502d7927a41ca0b6a.svg
platforms/android/app/src/main/assets/www/Roboto-RegularItalic.8add1ba317c27e39b778.woff
platforms/android/app/src/main/assets/www/Roboto-RegularItalic.90dbf902b8d0592e1beb.ttf
platforms/android/app/src/main/assets/www/Roboto-RegularItalic.df8e3a9b9aed94341797.woff2
platforms/android/app/src/main/assets/www/Roboto-RegularItalic.f3660f493ea5e5206484.eot
platforms/android/app/src/main/assets/www/Roboto-Thin.790ebf41d0214f5eda4e.woff2
platforms/android/app/src/main/assets/www/Roboto-Thin.90d3804f0231704c15cc.woff
platforms/android/app/src/main/assets/www/Roboto-Thin.ba422f71e799f3d29cbf.svg
platforms/android/app/src/main/assets/www/Roboto-Thin.c25fd8d00fd9f570545d.eot
platforms/android/app/src/main/assets/www/Roboto-Thin.cc85ce37b4256966e6f3.ttf
platforms/android/app/src/main/assets/www/Roboto-ThinItalic.11b5cc9584f2c007a229.ttf
platforms/android/app/src/main/assets/www/Roboto-ThinItalic.21e9a2e5ed0b0d8d1bb7.svg
platforms/android/app/src/main/assets/www/Roboto-ThinItalic.588293290e86dad97fcf.woff
platforms/android/app/src/main/assets/www/Roboto-ThinItalic.64ca718f48db91b27e8c.eot
platforms/android/app/src/main/assets/www/Roboto-ThinItalic.8a2c1a5de09de8bb2c45.woff2
platforms/android/app/src/main/assets/www/common.241af76c201c9b3c3182.js
platforms/android/app/src/main/assets/www/exo-latin-100.7a962253b4221d26fc52.woff
platforms/android/app/src/main/assets/www/exo-latin-100.86eb901a1b6a952ad4c6.woff2
platforms/android/app/src/main/assets/www/exo-latin-100.e98b7075717664dffefd.eot
platforms/android/app/src/main/assets/www/exo-latin-100.f60defca0bb5c4a76c36.svg
platforms/android/app/src/main/assets/www/exo-latin-100italic.09b8eba1e3ca26851758.svg
platforms/android/app/src/main/assets/www/exo-latin-100italic.5d74bcc0fa9041da27ab.eot
platforms/android/app/src/main/assets/www/exo-latin-100italic.7fd525ae6ef32ca51c2b.woff
platforms/android/app/src/main/assets/www/exo-latin-100italic.d8d1b8142312dc8661ca.woff2
platforms/android/app/src/main/assets/www/exo-latin-200.459a2b5c4d21445ecaa1.eot
platforms/android/app/src/main/assets/www/exo-latin-200.6272ec972e113356a7ac.woff2
platforms/android/app/src/main/assets/www/exo-latin-200.9154b96a4e182f3f6027.svg
platforms/android/app/src/main/assets/www/exo-latin-200.ae44adae71863b09ecbc.woff
platforms/android/app/src/main/assets/www/exo-latin-200italic.3487e875e62e19f8725a.svg
platforms/android/app/src/main/assets/www/exo-latin-200italic.3a8391359886bc872041.woff2
platforms/android/app/src/main/assets/www/exo-latin-200italic.cac790357edeabf496ba.eot
platforms/android/app/src/main/assets/www/exo-latin-200italic.fff0b8fbb6361809277d.woff
platforms/android/app/src/main/assets/www/exo-latin-300.038973967594a7dab606.woff2
platforms/android/app/src/main/assets/www/exo-latin-300.21d8997134cbc12e5153.svg
platforms/android/app/src/main/assets/www/exo-latin-300.3f0b3ba8796b6e7fe4bd.woff
platforms/android/app/src/main/assets/www/exo-latin-300.e0e37075b606d93a9538.eot
platforms/android/app/src/main/assets/www/exo-latin-300italic.2f0f55679e620d222711.woff
platforms/android/app/src/main/assets/www/exo-latin-300italic.6ce1566735a3d3667090.eot
platforms/android/app/src/main/assets/www/exo-latin-300italic.8d40b499402fd4189be2.woff2
platforms/android/app/src/main/assets/www/exo-latin-300italic.a2ca6baedb32297ce871.svg
platforms/android/app/src/main/assets/www/exo-latin-400.3002b7531096a5092d6e.svg
platforms/android/app/src/main/assets/www/exo-latin-400.6b1794f1847a277021b4.eot
platforms/android/app/src/main/assets/www/exo-latin-400.9f16e6ee1e3327b7db3a.woff2
platforms/android/app/src/main/assets/www/exo-latin-400.d72d248cdbced438c110.woff
platforms/android/app/src/main/assets/www/exo-latin-400italic.11510e4de28d62aa3aa5.svg
platforms/android/app/src/main/assets/www/exo-latin-400italic.92d1911bd4c5f5ef04f7.eot
platforms/android/app/src/main/assets/www/exo-latin-400italic.9e4520097381adbfe70f.woff
platforms/android/app/src/main/assets/www/exo-latin-400italic.d672d50caf856a58828c.woff2
platforms/android/app/src/main/assets/www/exo-latin-500.6596ef88679c21505494.svg
platforms/android/app/src/main/assets/www/exo-latin-500.6d4c29b8d9640e68f812.woff2
platforms/android/app/src/main/assets/www/exo-latin-500.81d3a72e86d04e574f0d.woff
platforms/android/app/src/main/assets/www/exo-latin-500.c616c256d4843cc16357.eot
platforms/android/app/src/main/assets/www/exo-latin-500italic.1ac05bd5dc0714e32eac.svg
platforms/android/app/src/main/assets/www/exo-latin-500italic.3cb9a625a9283be01425.woff2
platforms/android/app/src/main/assets/www/exo-latin-500italic.bd17cb2d62c226e06fdb.woff
platforms/android/app/src/main/assets/www/exo-latin-500italic.fe40c45465e6e99f006b.eot
platforms/android/app/src/main/assets/www/exo-latin-600.bb1d269e07b87773f1a6.woff2
platforms/android/app/src/main/assets/www/exo-latin-600.ca209404a4885958c612.svg
platforms/android/app/src/main/assets/www/exo-latin-600.e0d97cf7ab8d3d75e34b.eot
platforms/android/app/src/main/assets/www/exo-latin-600.ed2ff71bda38119fa682.woff
platforms/android/app/src/main/assets/www/exo-latin-600italic.88502b7cff2e54cebf90.woff
platforms/android/app/src/main/assets/www/exo-latin-600italic.b0a8187a1614891ec57b.woff2
platforms/android/app/src/main/assets/www/exo-latin-600italic.b7d2928a52331a7f1f07.eot
platforms/android/app/src/main/assets/www/exo-latin-600italic.e711eccd1fadfcd140a0.svg
platforms/android/app/src/main/assets/www/exo-latin-700.68cc7fa1f6a3184d73c2.svg
platforms/android/app/src/main/assets/www/exo-latin-700.734067b6563affe65beb.woff
platforms/android/app/src/main/assets/www/exo-latin-700.7348a6cf42fcb58f0985.eot
platforms/android/app/src/main/assets/www/exo-latin-700.d38b55777560c246992c.woff2
platforms/android/app/src/main/assets/www/exo-latin-700italic.1f6a024d5a00aba4cee1.svg
platforms/android/app/src/main/assets/www/exo-latin-700italic.262dcaba2aca4a002e46.woff
platforms/android/app/src/main/assets/www/exo-latin-700italic.36b975e60be97473a1e6.woff2
platforms/android/app/src/main/assets/www/exo-latin-700italic.dfd1344ebc20ecda89bf.eot
platforms/android/app/src/main/assets/www/exo-latin-800.006e7ec97fc14c6682a8.woff
platforms/android/app/src/main/assets/www/exo-latin-800.1ae3922dda8cca45438a.woff2
platforms/android/app/src/main/assets/www/exo-latin-800.855ca29bb887be8df4bb.svg
platforms/android/app/src/main/assets/www/exo-latin-800.ca084c98b9f30fcf576f.eot
platforms/android/app/src/main/assets/www/exo-latin-800italic.0bc59516445e9a658021.eot
platforms/android/app/src/main/assets/www/exo-latin-800italic.ba95c7ebbd3ee83362b2.svg
platforms/android/app/src/main/assets/www/exo-latin-800italic.c989d9d241c710a02bba.woff
platforms/android/app/src/main/assets/www/exo-latin-800italic.e75d9cbb1468c3156c59.woff2
platforms/android/app/src/main/assets/www/exo-latin-900.5f81c4362dcb692ed3d3.woff
platforms/android/app/src/main/assets/www/exo-latin-900.6eb1c493737303a66b1b.svg
platforms/android/app/src/main/assets/www/exo-latin-900.81e4c0811095cd6fbffa.woff2
platforms/android/app/src/main/assets/www/exo-latin-900.c45295dd710f6c155910.eot
platforms/android/app/src/main/assets/www/exo-latin-900italic.833cc98e0a75891eebef.eot
platforms/android/app/src/main/assets/www/exo-latin-900italic.90bea911b093ad5f0cf2.svg
platforms/android/app/src/main/assets/www/exo-latin-900italic.951a8bde845d7c17e4de.woff2
platforms/android/app/src/main/assets/www/exo-latin-900italic.b64b7ad410228605c1a3.woff
platforms/android/app/src/main/assets/www/fa-brands-400.38975343b586296e9b73.svg
platforms/android/app/src/main/assets/www/fa-brands-400.8e49b728413079dfd9ee.eot
platforms/android/app/src/main/assets/www/fa-brands-400.9f018d1025561e96439f.woff
platforms/android/app/src/main/assets/www/fa-brands-400.9f4ce3dc689981a1b87f.woff2
platforms/android/app/src/main/assets/www/fa-brands-400.b7d071b9c3c197bff4af.ttf
platforms/android/app/src/main/assets/www/fa-regular-400.7980a6361c25b4665dbb.woff2
platforms/android/app/src/main/assets/www/fa-regular-400.7aaf5675efd6339e9aba.woff
platforms/android/app/src/main/assets/www/fa-regular-400.859001f6ae8eb0bb3878.eot
platforms/android/app/src/main/assets/www/fa-regular-400.da8a235bb207c74eea21.svg
platforms/android/app/src/main/assets/www/fa-regular-400.f33342516f7cbe46f1d6.ttf
platforms/android/app/src/main/assets/www/fa-solid-900.0be94a07755ba9b88f2e.woff
platforms/android/app/src/main/assets/www/fa-solid-900.64b3e814a66c2719b15a.woff2
platforms/android/app/src/main/assets/www/fa-solid-900.7726a281c1d436eb038f.svg
platforms/android/app/src/main/assets/www/fa-solid-900.e2675a616b68f446fa62.eot
platforms/android/app/src/main/assets/www/fa-solid-900.f14c3b2ff7c821a4c838.ttf
platforms/android/app/src/main/assets/www/favicon.ico
platforms/android/app/src/main/assets/www/favicon.png
platforms/android/app/src/main/assets/www/index.html
platforms/android/app/src/main/assets/www/ionicons.19e65b89cee273a249fb.eot
platforms/android/app/src/main/assets/www/ionicons.28df6ee7b407fd8a14b4.svg
platforms/android/app/src/main/assets/www/ionicons.2c159d0d05473040b53e.woff
platforms/android/app/src/main/assets/www/ionicons.dd4781d1acc57ba4c480.ttf
platforms/android/app/src/main/assets/www/layers-2x.4f0283c6ce28e888000e.png
platforms/android/app/src/main/assets/www/layers.a6137456ed160d760698.png
platforms/android/app/src/main/assets/www/main.e1e08629123330f6cc71.js
platforms/android/app/src/main/assets/www/marker-icon.2273e3d8ad9264b7daa5.png
platforms/android/app/src/main/assets/www/nebular.85e45e2f83750a4184af.eot
platforms/android/app/src/main/assets/www/nebular.e5b059e952431846f8ab.ttf
platforms/android/app/src/main/assets/www/nebular.e7b6b47eeafe34432dca.woff
platforms/android/app/src/main/assets/www/nebular.ee79fa432c91db08585f.svg
platforms/android/app/src/main/assets/www/polyfills.fd7caed97aaf03d06b73.js
platforms/android/app/src/main/assets/www/runtime.a1befb694b86d0e5ce1e.js
platforms/android/app/src/main/assets/www/scripts.98063689a56df6033ba8.js
platforms/android/app/src/main/assets/www/socicon.60e5857089e98edd8380.eot
platforms/android/app/src/main/assets/www/socicon.944f06f5f65ef84a3a36.woff
platforms/android/app/src/main/assets/www/socicon.9a64ef938f9e55a70a4d.ttf
platforms/android/app/src/main/assets/www/socicon.a35b65744f557fab5424.svg
platforms/android/app/src/main/assets/www/square_pattern.b7c0827326f8d621b1ed.svg
platforms/android/app/src/main/assets/www/square_pattern_cosmic.a242954570515ecdde9d.svg
platforms/android/app/src/main/assets/www/styles.cfcfa2a45e8eb222a254.css
platforms/android/app/src/main/assets/www/assets/data/news.json
platforms/android/app/src/main/assets/www/assets/images/apple-touch-icon.png
platforms/android/app/src/main/assets/www/assets/images/camera1.jpg
platforms/android/app/src/main/assets/www/assets/images/camera2.jpg
platforms/android/app/src/main/assets/www/assets/images/camera3.jpg
platforms/android/app/src/main/assets/www/assets/images/camera4.jpg
platforms/android/app/src/main/assets/www/assets/images/cover1.jpg
platforms/android/app/src/main/assets/www/assets/images/cover2.jpg
platforms/android/app/src/main/assets/www/assets/images/cover3.jpg
platforms/android/app/src/main/assets/www/assets/images/favicon-16x16.png
platforms/android/app/src/main/assets/www/assets/images/favicon-32x32.png
platforms/android/app/src/main/assets/www/assets/images/kitten-corporate.png
platforms/android/app/src/main/assets/www/assets/images/kitten-cosmic.png
platforms/android/app/src/main/assets/www/assets/images/kitten-default.png
platforms/android/app/src/main/assets/www/assets/images/square_pattern.svg
platforms/android/app/src/main/assets/www/assets/images/square_pattern_cosmic.svg
platforms/android/app/src/main/assets/www/assets/images/team.png
platforms/android/app/src/main/assets/www/assets/img/markers/layers.png
platforms/android/app/src/main/assets/www/assets/img/markers/layers-2x.png
platforms/android/app/src/main/assets/www/assets/img/markers/marker-icon.png
platforms/android/app/src/main/assets/www/assets/img/markers/marker-icon-2x.png
platforms/android/app/src/main/assets/www/assets/img/markers/marker-shadow.png
platforms/android/app/src/main/assets/www/assets/leaflet-countries/countries.geo.json
platforms/android/app/src/main/assets/www/assets/map/world.json
platforms/android/app/src/main/assets/www/assets/skins/lightgray/content.inline.min.css
platforms/android/app/src/main/assets/www/assets/skins/lightgray/content.min.css
platforms/android/app/src/main/assets/www/assets/skins/lightgray/skin.ie7.min.css
platforms/android/app/src/main/assets/www/assets/skins/lightgray/skin.min.css
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce.eot
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce.svg
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce.ttf
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce.woff
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce-small.eot
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce-small.svg
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce-small.ttf
platforms/android/app/src/main/assets/www/assets/skins/lightgray/fonts/tinymce-small.woff
platforms/android/app/src/main/assets/www/assets/skins/lightgray/img/anchor.gif
platforms/android/app/src/main/assets/www/assets/skins/lightgray/img/loader.gif
platforms/android/app/src/main/assets/www/assets/skins/lightgray/img/object.gif
platforms/android/app/src/main/assets/www/assets/skins/lightgray/img/trans.gif
platforms/android/app/src/main/assets/www/css/index.css
platforms/android/app/src/main/assets/www/img/logo.png
platforms/android/app/src/main/assets/www/js/index.js
www/index.html
www/css/index.css
www/img/logo.png
www/js/index.js
www/index.html
www/index.html
package-lock.json
