<div class="row">
  <div class="col-lg-12">
    <houseey-hero-buttons></houseey-hero-buttons>
    <houseey-default-buttons></houseey-default-buttons>
    <houseey-outline-buttons></houseey-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <houseey-shape-buttons></houseey-shape-buttons>
    <houseey-action-groups></houseey-action-groups>
    <houseey-labeled-actions-group></houseey-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <houseey-size-buttons></houseey-size-buttons>
    <houseey-button-elements></houseey-button-elements>
  </div>
</div>
