<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <houseey-profit-card></houseey-profit-card>
      </div>
      <div class="col-md-6">
        <houseey-earning-card></houseey-earning-card>
      </div>
    </div>

    <houseey-traffic-reveal-card></houseey-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <houseey-ecommerce-charts></houseey-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <houseey-country-orders></houseey-country-orders>
  </div>

  <div class="col-xxl-3">
    <houseey-progress-section></houseey-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <houseey-ecommerce-visitors-analytics></houseey-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <houseey-user-activity></houseey-user-activity>
  </div>
</div>
