<nb-card [nbSpinner]="loading"
         nbSpinnerStatus="danger">
  <nb-card-header>
    All Leads
    <div class="col-sm-12">
      this is place for multi column selec
    </div>
  </nb-card-header>

  <nb-card-body *ngIf="leadData">
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (edit)="onEdit($event)"
                     (create)="onColumnChange($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
